#忽略bin的文件

MyBuy.BLL/bin
MyBuy.Model/bin
MyBuy.DAL/bin
MyBuy.IDAL/bin
MyBuy.JWTTest/bin
MyBuy.IBLL/bin
/MyBuy.DalFactory/bin
MyBuy.Common/bin
MyBuy.WebApi/bin

# 忽略obj目录
MyBuy.BLL/obj
MyBuy.Model/obj
MyBuy.DAL/obj
MyBuy.IDAL/obj
MyBuy.JWTTest/obj
MyBuy.IBLL/obj
MyBuy.DalFactory/obj
MyBuy.Common/obj
MyBuy.WebApi/obj

